@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --main_color: rgb(55, 0, 255);
  --main_color_light: rgb(37, 1, 170);
  color: white;
}
.error {
  color: red;
  font-weight: normal;
}

.success {
  color: green;
  font-weight: normal;
}
.right, .left{
  width: 40%;
}
.right{
  float: right;
  text-align: right;
  align-items: right;
  color: white;
}
.group{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  gap: 10px 40px; 
  margin-left: 0 !important;
}

.card{
  border: 1px solid #ccc;
  padding: 10px 20px;
  box-sizing: border-box;
    box-sizing: border-box; 
     background-color: rgba(255, 255, 255, 0.808);
     color: #000;
     width: 110%;
}

.card:hover{
  border: 5px solid #01550169;
  cursor: pointer;
}
.left{
  float: left;
}
body {
  background: #222;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  min-height: 100%;
}

.header{
  box-shadow: 0 0px 15px rgba(0, 0, 0, 9);
  position: fixed;
  top: 0;
  margin-top: 0;
  margin-left: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background: #222;
  background-color: #222;

}

.dashboard .page{
  margin-top: 100px;
  z-index: 0;
}

#message{
  height: 140px !important;
  width: 250px !important;
}

section {
  width: 80% !important;
  margin-left: 10%;
  min-height: 100%;
  padding: 20px 10px;
  height: 700px;
  display: flex;
}
section.signin, section.signup{
  align-items: center;
  text-align: center;
  justify-content: center;
}
section.signup{
  height: 1200px;
}
section.dashboard{
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  align-items: center;
  text-align: center;
  background-color: olive;
}
.formContainer{
  padding-top: 60px;
  padding-bottom: 60px;
}
.formContainer{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
  width: 100%;
  display: flex;
  flex-direction: column;
}
i{
  color: white;
}
i:hover{
  color: var(--main_color_light);
  font-size: 19px;
}
section h2 {
  font-size: 2em;
  color: var(--main_color);
  text-transform: uppercase;
}
a{
  color: #35357a;
}
a:hover{
  cursor: pointer;
}
.form{
  width: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.form .new_request{
  text-align: left;
  align-items: left;
}
input,select,select option {
  width: 90%;
  background: #333;
  border: none;
  outline: none;
  padding: 20px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 20px;
}
.formContainer .links{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formContainer .links a{
  color: #fff;
  text-decoration: none;
}
.formContainer .links a:nth-child(2){
  color: var(--main_color);
  font-weight: 600;
}
input[type="submit"] {
  padding: 10px;
  background: var(--main_color);
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
}
input[type="submit"]:active {
  opacity: 0.6;
}
.password_requirements{
  margin-top: 10px;
  color: #dad7d7 !important;
}

.response{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  box-sizing: border-box;
     background-color: rgba(255, 255, 255, 0.808);
     color: #000;
     width: 400px;
}