<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section >
        <div class="dashboard">
            <div class="header">
                <h2 class="leftheader">ALU REQUESTS</h2>
                <form method="POST" action="/logout" class="rightheader">
                    <input type="submit" value="Logout">
                </form>
            </div>
            <div class="page">
                <div>
                    {%if admin%}
                        <h5>Admin Page</h5>
                        <h3 class="left">All Submitted Requests</h3>
                    {%else%}
                        <h3 class="left">My Requests</h3>
                    {%endif%}
                </div>
                {% if requests %}
                    <p>Total requests: {{ requests|length }}</p>
                    <div class="group">
                        {% for request in requests %}
                            <div class="card">
                                <h5>{{ request.title }}</h5> 
                                <hr>
                                <div>
                                    <p>{{ request.timestamp }}</p> 
                                    <p>
                                        {{ request.student }}  
                                        {%if admin%}
                                            to {{ request.student }}
                                        {%endif%}
                                    </p> 
                                    
                                    <span>{{ request.message }}</span> 
                                </div>
                                <a href="{{ url_for('respond_page', requestID=request._id, facilitator=userEmail) }}">Respond</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    You currently do not have any request
                {% endif %}
            </div>
            
        </div>
        
    </section>
</body>
</html>
