<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section >
        <div class="dashboard">
            <div class="header">
                <h2 class="leftheader">ALU REQUESTS</h2>
                <form method="POST" action="/logout" class="rightheader">
                    <input type="submit" value="Logout">
                </form>
            </div>
            <div class="page">
                <p style="color: antiquewhite;">
                    <a href="{{ url_for('dashboard', userType='student',userEmail= student) }}">
                        <i class="fa fa-arrow-left"></i>
                    </a>            
                </p>
                <h3>New request</h3>
                <form class="form new_request" method="POST" action="{{ url_for('new_request', student=student) }}">
                    <div class="inputBox">
                        <select name="facilitator" required>
                            <option value="">Selecta facilitator</option>
                            {%if facilitators %}
                                {%for facilitator in facilitators %}
                                    <option value={facilitator.email}>{{facilitator.firstName}} {{facilitator.middleName}} {{facilitator.lastName}}</option>
                                {%endfor%}
                            {%endif%}
                        </select>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="title" placeholder="Title" required>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="message" id="message" placeholder="Message" required>
                    </div>    
                    {% if error %}
                    <p class="error">{{ error }}</p>  
                    {% endif %}
                    {% if success_message %}
                    <p class="success">{{ success_message }}</p> 
                    {% endif %}
                    <div class="inputBox">
                        <input type="submit" value="Submit">
                    </div>               
                </form>     
            </div>       
        </div>
    </section>
</body>    
</html>
