<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section >
        <div class="dashboard">
            <div class="header">
                <h2 class="left">ALU SUPPORT</h2>
                <form method="POST" action="/logout" class="right">
                    <input type="submit" value="Logout">
                </form>
            </div>
            <div class="page">
                <p style="color: antiquewhite;">
                    <a href="javascript:history.go(-1)">
                        <i class="fa fa-arrow-left"></i>
                    </a>                
                </p>
                <h3>Create response</h3>
                {% if success_message %}
                <p class="success">{{ success_message }}</p> 
                {% endif %}
                <form class="form new_request" method="POST" action="{{ url_for('respond', requestID=requestID) }}">
                    <div class="inputBox">
                        <input type="text" name="message" id="message" placeholder="Message" required>
                    </div>    
                    <div class="inputBox">
                        <input type="submit" value="Submit">
                    </div>               
                </form>     
            </div>       
        </div>
    </section>
</body>    
</html>
