<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="signup">
        <div class="formContainer">
            <img src="{{ url_for('static', filename='img/logo.png') }}">
            <h2>Sign Up</h2>
            {% if error %}
            <p class="error">{{ error }}</p>  
            {% endif %}
            {% if success_message %}
            <p class="success">{{ success_message }}</p> 
            {% endif %}
            <form class="form" method="POST" action="/signup">
                <div class="inputBox">
                    <select name="role" required id="role">
                        <option value="students">Student</option>
                        <option value="facilitators">Facilitator</option>
                    </select>
                </div>
                <div class="inputBox" id="adminBox" style="display: none;">
                    <select name="admin" required>
                        <option value="False">Non admin</option>
                        <option value="True">Admin</option>
                    </select>
                </div>
                <div class="inputBox">
                    <input type="text" name="email" placeholder="Email" required>
                </div>
                <div class="inputBox">
                    <input type="text" name="firstName" placeholder="First Name" required>
                </div>            
                <div class="inputBox">
                    <input type="text" name="middleName" placeholder="Middle Name">
                </div>        
                <div class="inputBox">
                    <input type="text" name="lastName" placeholder="Last Name" required>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="inputBox">
                    <input type="password" name="repeatpassword" id="repeatpassword" placeholder="Password" required>
                </div>
                
                <div class="links">
                    <a href="/">Login</a>
                    <span id="password_strength"></span>
                </div>
                <p id="not_same_password" style="color: red; display: none;">Passwords not the same</p>
                <div class="password_requirements">
                    Password must have:
                    <ul class="ul">
                        <li class="li" id="short_pass">at least 8 characters long</li>
                        <li class="li" id="upper_pass">at least 1 uppercase letter</li>
                        <li class="li" id="lower_pass">at least 1 lowecase letter</li>
                        <li class="li" id="digit_pass">at least 1 digit</li>
                        <li class="li" id="char_pass">at least 1 special character</li>
                    </ul>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Signup" id="signup_button">
                </div>
            </form>
        </div>
    </section>
    <script>
        var passwordRegex = /(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}/;
        function checkPasswordStrength() {
            var password = document.getElementById("password").value;
            var strength_pass = document.getElementById("password_strength");
            if (passwordRegex.test(password)) {
                strength_pass.innerHTML = "Strong Password";
                strength_pass.style.color = "green";
            } else {
                strength_pass.innerHTML = "Weak Password";
                strength_pass.style.color = "red";
            }
            var short_pass = document.getElementById("short_pass");
            var upper_pass = document.getElementById("upper_pass");
            var lower_pass = document.getElementById("lower_pass");
            var digit_pass = document.getElementById("digit_pass");
            var char_pass = document.getElementById("char_pass");

            if (password.length >= 8) {
                short_pass.style.color = "green";
            }else {
                short_pass.style.color = "red";
            }if (/[A-Z]/.test(password)) {
                upper_pass.style.color = "green";
            } else {
                upper_pass.style.color = "red";
            }if (/[a-z]/.test(password)) {
                lower_pass.style.color = "green";
            }else {
                lower_pass.style.color = "red";
            }if (/\d/.test(password)) {
                digit_pass.style.color = "green";
            } else {
                digit_pass.style.color = "red";
            }if (/[!@#$%^&*]/.test(password)) {
                char_pass.style.color = "green";
            } else {
                char_pass.style.color = "red";
            }
        }

        function checkSimilarPasswords() {
            var password1 = document.getElementById("password").value;
            var password2 = document.getElementById("repeatpassword").value;
            console.log('password1: ', password1)
            console.log('password2: ', password2)
            var unsimilarPassword = document.getElementById("not_same_password");
            if (password1 !== password2) {
                unsimilarPassword.style.display = "block";
            }else{
                unsimilarPassword.style.display = "none";
            }
        }
        function checkUserType() {
            var userType = document.getElementById("role").value;
            console.log('userType: ', userType)
            var adminBox = document.getElementById("adminBox");
            if (userType === "facilitators") {
                adminBox.style.display = "block";
            }else{
                adminBox.style.display = "none";
            }
        }
        document.getElementById("role").addEventListener("change", checkUserType);
        document.getElementById("password").addEventListener("input", checkPasswordStrength);
        document.getElementById("repeatpassword").addEventListener("input", checkSimilarPasswords);

        document.getElementById("signup_button").addEventListener("click", function (e) {
            var password = document.getElementById("password").value;
            var password1 = document.getElementById("password").value;
            var password2 = document.getElementById("repeatpassword").value;
            var unsimilarPassword = document.getElementById("not_same_password");
            if (!passwordRegex.test(password)) {
                e.preventDefault(); 
            }else if (password1 !== password2) {
                e.preventDefault(); 
                unsimilarPassword.style.display = "block";
            }else if (password1 === password2) {
                unsimilarPassword.style.display = "none";
            }     
        });
    </script>
    
</body>
</html>
