<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section >
        <div class="dashboard">
            <div class="header">
                <h2 class="leftheader">ALU REQUESTS</h2>
                <form method="POST" action="/logout" class="rightheader">
                    <input type="submit" value="Logout">
                </form>
            </div>
            <div class="page">
                <p style="color: antiquewhite;">
                    <a href="javascript:history.go(-1)">
                        <i class="fa fa-arrow-left"></i>
                    </a>                
                </p>
                <h3>Request responses</h3>
                <div class="responses">
                    <div class="response">
                        {%if request_name%}
                            <h5 style="text-decoration: underline;">{{ request_name }}</h5> 
                        {%endif%}
                        {% if responses %}
                            {% for response in responses %}
                                <div class="a_response">
                                    <span>{{ response.message }}</span> 
                                    <p class="timestamp">{{ response.timestamp }}</p> 
                                </div>
                            {% endfor %}
                        {% else %}
                            Your request currently has no response
                        {% endif %}
                    </div>
                    <br>

                </div>
            </div>
            
        </div>
        
    </section>
</body>
</html>
