<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section >
        <div class="dashboard">
            <div class="header">
                <h2 class="left">ALU SUPPORT</h2>
                <form method="POST" action="/logout" class="right">
                    <input type="submit" value="Logout">
                </form>
            </div>
            <div class="page">
                <div>
                    <h3 class="left">Request responses</h3>
                </div>
                {% if responses %}
                    <div class="responses">
                        {% for response in responses %}
                            <div class="response">
                                {%if request_name%}
                                    <h5>{{ request_name }}</h5> 
                                {%endif%}
                                <div>
                                    <span>{{ response.message }}</span> 
                                    <p>{{ response.timestamp }}</p> 
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div>Your request currently has no response</div>
                {% endif %}
            </div>
            
        </div>
        
    </section>
</body>
</html>
