<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section >
        <div class="dashboard">
            <div class="header">
                <h2 class="leftheader">ALU REQUESTS</h2>
                <form method="POST" action="/logout" class="rightheader">
                    <input type="submit" value="Logout">
                </form>
            </div>
            <div class="page">
                <div>
                    <h3 class="left">My Requests</h3>
                    <a href="{{ url_for('new_request', student=userEmail) }}" class="right">New Request</a>
                </div>
                {% if requests %}
                <p>Total requests: {{ requests|length }}</p>
                    <div class="group">
                        {% for request in requests %}
                            <div class="card">
                                <h5>{{ request.title }}</h5> 
                                <div>
                                    <p>{{ request.timestamp }}</p> 
                                    <p>{{ request.facilitator }}</p> 
                                    <span>{{ request.message }}</span> 
                                </div>
                                <a href="{{ url_for('responses', requestID=request._id) }}">Responses</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You currently have not submitted any request</p>
                {% endif %}
            </div>
            
        </div>
        
    </section>
</body>
</html>
